 <%= form_with(model: @cliente, local: true) do |form| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %></h2>

      <ul>
        <% @cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
    
  <%= form.submit  class: "btn alert-primary form-control" %><br><br>
  <%= link_to 'Cancelar', @cliente, class: "btn alert-danger form-control" %>
  <div class="row">
    <div class="col-md-4">
      <strong>Nombre Fiscal:&nbsp;</strong><%= form.text_field :nombre_fiscal, class: "form-control", required: true %>
    </div>
    <div class="col-md-4">
      <strong>Nombre Comercial:&nbsp;</strong><%= form.text_field :nombre_comercial, class: "form-control", required: true  %>
    </div>
    <div class="col-md-4">
      <strong>RFC:&nbsp;</strong><%= form.text_field :rfc, class: "form-control", required: true  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Calle y número:&nbsp;</strong><%= form.text_field :calle_numero, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <strong>Colonia:&nbsp;</strong><%= form.text_field :colonia, class: "form-control", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <strong>Población:&nbsp;</strong><%= form.text_field :poblacion, class: "form-control", required: true %>
    </div>
    <div class="col-md-5">
      <strong>Estado:&nbsp;</strong><%= form.text_field :estado, class: "form-control", required: true %>
    </div>
    <div class="col-md-2">
      <strong>Código Postal:&nbsp;</strong><%= form.text_field :codigo_postal, class: "form-control", required: true %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4">
      <strong>Teléfono Oficina&nbsp;</strong><%= form.text_field :telefono_oficina, class: "form-control", required: true %>
    </div>
    <div class="col-md-4">
      <strong>Teléfono móvil:&nbsp;</strong><%= form.text_field :telefono_celular, class: "form-control"%>
    </div>
    <div class="col-md-4">
      <strong>Otro:&nbsp;</strong><%= form.text_field :telefono_directro, class: "form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <strong>Correo:&nbsp;</strong><%= form.text_field :correo, class: "form-control", required: true %>
    </div>
    <div class="col-md-4">
      <strong>Medio de contacto:&nbsp;</strong><%= form.text_field :medio_contacto, class: "form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Presupuesto:&nbsp;</strong><%= form.text_field :presupuesto, class: "form-control"%>
    </div>
    <div class="col-md-3">
      <strong>Crédito:&nbsp;</strong><%= form.text_field :credito, class: "form-control"%>
    </div>
    <div class="col-md-2">
      <strong>Tipo Cliente:&nbsp;</strong><%= form.text_field :tipo, class: "form-control"%>
    </div>
    <div class="col-md-2">
      <strong>Descuento:&nbsp;</strong><%= form.text_field :descuento, class: "form-control"%>
    </div>
    <div class="col-md-2">
      <strong>Precio:&nbsp;</strong><%= form.text_field :precio, class: "form-control"%>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-3">
      <strong>Banco:&nbsp;</strong><%= form.text_field :banco, class: "form-control"%>
    </div>
    <div class="col-md-3">
      <strong>Sucursal:&nbsp;</strong><%= form.text_field :sucursal, class: "form-control"%>
    </div>
    <div class="col-md-3">
      <strong>Cuenta:&nbsp;</strong><%= form.text_field :cuenta, class: "form-control"%>
    </div>
    <div class="col-md-3">
      <strong>CLABE:&nbsp;</strong><%= form.text_field :clabe, class: "form-control"%>
    </div>
  </div><br>
  <div class="row">
    
    <table class="table">
      <thead>
        <tr>
          <th>Día</th>
          <th>Revisión</th>
          <th>Cobro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>lunes</td>
          <td><%= form.check_box :revision_lunes, class: "form-control" %></td>
          <td><%= form.check_box :cobro_lunes, class: "form-control" %></td>
        </tr>
        <tr>
          <td>martes</td>
          <td><%= form.check_box :revision_martes, class: "form-control" %></td>
          <td><%= form.check_box :cobro_martes, class: "form-control" %></td>
        </tr> 
        <tr>
          <td>miércoles</td>
          <td><%= form.check_box :revision_miercoles, class: "form-control" %></td>
          <td><%= form.check_box :cobro_miercoles, class: "form-control" %></td>
        </tr>
        <td>jueves</td>
          <td><%= form.check_box :revision_jueves, class: "form-control" %></td>
          <td><%= form.check_box :cobro_jueves, class: "form-control" %></td>
        </tr>
        <td>viernes</td>
          <td><%= form.check_box :revision_viernes, class: "form-control" %></td>
          <td><%= form.check_box :cobro_viernes, class: "form-control" %></td>
        </tr>
        <td>sábado</td>
          <td><%= form.check_box :revision_sabado, class: "form-control" %></td>
          <td><%= form.check_box :cobro_sabado, class: "form-control" %></td>
        </tr>
      </tbody>  
    </table>
  </div>
<% end %>

 

   