<%= form_with(model: proyecto, local: true) do |form| %>
  <% if proyecto.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% proyecto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.submit  'Guardar Servicio', class: "btn alert-primary form-control" %><br><br>
  <%= link_to 'Cancelar', @proyecto, class: "btn alert-danger form-control" %>
<br>
<br>
  <div class="row">
    <div class="col-md-4">
      Nombre:&nbsp;<%= form.text_field :nombre_proyecto, class: "form-control" %>
    </div>
    <div class="col-md-4">
      Empresa:&nbsp;<%= form.text_field :empresa, class: "form-control" %>
    </div>
    <div class="col-md-4">
      Responsable:&nbsp;<%= form.text_field :responsable, class: "form-control" %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-12">
    Comentarios:&nbsp;<%= form.text_area :comentarios, class: "form-control", rows: 3 %>
  </div>

 <% end %>

  