<p id="notice"><%= notice %></p>
<h3>Proyectos</h3>

<%= form_tag proyectos_path, method: :get do %>
    <div class="input-group">
        <%= text_field_tag 'term', params[:term], placeholder: "Ingrese criterio de búsqueda", class: "form-control" %>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i><%= fa_icon 'search'  %></i>
            </button>
        </span>
    </div>

<% end %>
<br>

<div class="row">
  <div class="col-md-4">
    <%= link_to 'Nuevo Proyecto', new_proyecto_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-8">
    <% if !@proyectos.nil? %>
      <%= paginate @proyectos  %></p>
    <% end %>
  </div>
</div>

 <br>

<table class="table">
  <thead>
    <tr>
      <th>Proyecto</th>
      <th>Empresa</th>
      <th>Responsable</th>
      <th>comentarios</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>

        <td><%= proyecto.nombre_proyecto %></td>
        <td><%= proyecto.empresa %></td>
        <td><%= proyecto.responsable %></td>
        <td><%= proyecto.comentarios %></td>
        <td><%= link_to edit_proyecto_path(proyecto), class: "btn alert-info", local: true  do %>
          <%= fa_icon 'pencil' %>
        <% end %></td>
        <td><%= link_to  proyecto, class: "btn alert-primary", local: true  do %>
          <%= fa_icon 'file' %>
        <% end %></td>
        <td><%= link_to proyecto, method: :delete, data:{ confirm: '¿Confirma eliminar el registro?'}, class: "btn alert-danger"  do %>
          <%= fa_icon 'trash'  %>
        <%end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





