<%= form_with(model: cotizacion, local: true) do |form| %>
  <% if cotizacion.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% cotizacion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.submit  'Guardar Cotización', class: "btn alert-primary form-control" %><br><br>
  <%= link_to 'Cancelar', cotizacions_path, class: "btn alert-danger form-control" %>
<br>
<br>
  <div class="row">
     
    <div class="col-md-4">
      Número de Cotización:&nbsp;<%= form.text_field :num_cotizacion, class: "form-control", placeholder: 'Núm. Cotización' %>
    </div>

     
    <div class="col-md-4">
      Número de Solicitud:&nbsp;  
      <%= form.collection_select(:solicitud_id,  Solicitud.where(estatus: 'Emitida').order(:id), :id, :lista_cliente, { prompt: "Seleccione una solicitud"} , {class: 'form-control'}) %> 
    </div>
  </div>

  <br>  
  <%= form.fields_for :cotizacion_detalles do |detalle| %>
    <%= render 'cotizacion_detalle_fields', f: detalle %> 
  <% end %>
  
<div>  <br>  
    <%= link_to_add_association 'Agregar Servicio', form, :cotizacion_detalles, class: "btn alert-success" %>
</div>

   
<% end %>
   