<p id="notice"><%= notice %></p>
<h3>Cotizaciones</h3>


<%= form_tag cotizacions_path, method: :get do %>
    <div class="input-group">
        <%= text_field_tag 'term', params[:term], placeholder: "Ingrese criterio de búsqueda", class: "form-control" %>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i><%= fa_icon 'search'  %></i>
            </button>
        </span>
    </div>

<% end %>
<br>

    <div class="row">
      <div class="col-md-4">
        <%= link_to 'Nueva Cotización', new_cotizacion_path, class: 'btn btn-info' %>
      </div>
      <div class="col-md-8">
        <% if !@cotizacions.nil? %>
          <%= paginate @cotizacions  %></p>
        <% end %>
      </div>
    </div>

 <br>


<table class="table">
  <thead>
    <tr>
      <th>Num. Cotizacion</th>
      <th>Num. Solicitud</th>
      <th>Cliente</th>
      <th>Contacto</th>
       <th>Total</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cotizacions.each do |cotizacion| %>
      <tr>
        <td><%= cotizacion.id %></td>
        <td><%= cotizacion.solicitud_id %></td>
        <td><%= cotizacion.cliente(cotizacion.solicitud.cliente_id) %></td>
        <td><%= cotizacion.contacto(cotizacion.solicitud.cliente_contacto_id) %></td>
        <td><%= cotizacion.total %></td>
        <td><%= link_to edit_cotizacion_path(cotizacion), class: "btn alert-info", local: true  do %>
          <%= fa_icon 'pencil' %>
        <% end %></td>
        <td><%= link_to  cotizacion, class: "btn alert-primary", local: true  do %>
          <%= fa_icon 'file' %>
        <% end %></td>
        <td><%= link_to cotizacion, method: :delete, data:{ confirm: '¿Confirma eliminar el registro?'}, class: "btn alert-danger"  do %>
          <%= fa_icon 'trash'  %>
        <%end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





