<h3>Solicitudes</h3>


<%= form_tag solicituds_path, method: :get do %>
    <div class="input-group">
        <%= text_field_tag 'term', params[:term], placeholder: "Ingrese criterio de búsqueda", class: "form-control" %>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i><%= fa_icon 'search'  %></i>
            </button>
        </span>
    </div>

<% end %>
<br>

    <div class="row">
      <div class="col-md-4">
        <%= link_to 'Nueva Solicitud', new_solicitud_path, class: 'btn btn-info' %>
      </div>
      <div class="col-md-8">
        <% if !@solicituds.nil? %>
          <%= paginate @solicituds  %></p>
        <% end %>
      </div>
    </div>

 <br>


<table class="table">
  <thead>
    <tr>
      <th>Num. Solicitud</th>
      <th>Cliente</th>
      <th>Proyecto</th>
      <th>Estatus</th>
      <th>Usuario</th>
      <th>Contacto</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @solicituds.each do |solicitud| %>
      <tr>
        <td><%= solicitud.id %></td>
        <td><%= solicitud.cliente.nombre_comercial %></td>
        <td><%= solicitud.proyecto %></td>
        <td><%= solicitud.estatus %></td>
        <td><%= solicitud.user.name %></td>
        <td><%= solicitud.nombre_contacto  %></td>
        <td><%= link_to 'Mostrar', solicitud %></td>
        <td><%= link_to 'Modificar', edit_solicitud_path(solicitud) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


