<div class="container-ingresar">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="container-usuario">
      <%= f.label :'Usuario' %><br>
      <%= f.text_field :name, autofocus: true, placeholder: "nombre de usuario", class: "form-control", align: 'center' %><br>
      <%= f.label :'contraseña' %><br>
      <%= f.password_field :password, placeholder: "Contraseña", class: "form-control"  %><br>  
      <%= f.submit "Ingresar", class: "form-control btn btn-primary btn-lg" %>
    </div>
  </div>
  
  <% end %>
</div>
</div>
  